body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);

  @media (max-width: 890px){
    width: 300px;
  }

  @media (max-width: 400px){
    width: 250px;
  }
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #2563eb;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9rem;
  text-align: left;
}

.forgot {
  font-size: 0.9rem;
  text-align: right;
  display: block;
  margin-bottom: 10px;
}